body {
  width: 32em;
  margin: 4em auto;
  background-color: #EEE;
  line-height: 1.7;
  font-family: sans-serif;
  color: #333;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
  color: #666;
}
a:hover {
  text-decoration: none;
  color: #888;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 1.4em;
  font-weight: normal;
}
ul, li, p {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* header */

body > header {
  margin: 3em 0;
}
body > header h1 {
  margin: 0;
  line-height: 1.2;
}
body > header p {
  margin: 0 0 1em;
  line-height: 1;
  text-transform: lowercase;
  font-size: 80%;
  color: #888;
}

body > article h1 {
  font-size: 1em;
  margin: 3em 0 1em;
}

article {
  font-size: 90%;
}
input#url,
input#bookmarklet_text {
  display: block;
  width: 100%;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background-color: #F8F8F8;
  font-family: monospace;
}

/* unspecified */
#form_unspecified {
  margin: 1em 0;
  width: 100%;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background-color: #F8F8F8;
  font-family: monospace;
}
#form_unspecified li {
  overflow: hidden;
  white-space:nowrap;
  color: #888;
}
#form_unspecified:after {
  display: block;
  clear:both;
  content: "";
}

