body {
  width: 32em;
  margin: 4em auto;
  background-color: #EEE;
  line-height: 1.7;
  font-family: sans-serif;
  color: #333;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
  color: #666;
}
a:hover {
  text-decoration: none;
  color: #888;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 1.4em;
  font-weight: normal;
}
ul, li, p {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body > article h1 {
  font-size: 1em;
}

article {
  font-size: 90%;
}
article input {
  display: block;
  width: 100%;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background-color: #F8F8F8;
  font-family: monospace;
}